input {
    color: #FFF;
    width: 70px;
    height: 70px;
    margin: 4px;
    font-size: 50px;
    border-radius: 5px;
    text-align: center;
    border: 5px #312a2c solid;
    text-transform: uppercase;
    background-color: #6e5c62;
    font-family: 'Fredoka One', cursive;
    box-sizing: 100rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: transparent;
    text-shadow: 0 0 0 #FFF;
}

input:focus {
    text-decoration: none;
    text-overflow: none;
    text-shadow: #FFF;
    text-rendering: none;
    box-shadow: 0 0 0 0;
    outline: 0;
    text-shadow: transparent;
    border: 5px #312a2c solid ;
    border-bottom: 10px #312a2c solid ;
}



.linha {
    flex-direction: row;
}

.acertou {
    background-color: #3aa394;
    border: 5px solid #3aa394;
}
