.div-ganhou{
    width: 100%;
    position: relative;
    z-index: 999;
}
.ganhou{
    background-color: #222222;
    width: 130px;
    z-index: 999;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 13px;
    font-family: 'Fredoka One', cursive;
    position: relative;
}
h1{
    margin-bottom: 0px;
}
